<div class="container">
  <%# タイトル %>
  <div class="service-title">
    <%= render 'shared/title', text: 'サービス一覧', html: ''.html_safe %>
  </div>

  <div class="row justify-content-around py-4" style="margin: 0px;">
    <%= render @services %>
  </div>
</div>