<div class="col-sm-12 mb-3">
  <%= @service.name %>
  <div class="col-sm-12">
    <%= @service.body%>
  </div>
  <%= link_to("公式HPはコチラ", @service.service_url, target: :_blank, rel: "noopener noreferrer") %>

</div>
