<div class="container">
  <div class="text-center py-5">
    <h1 class="py-4">お問い合わせ</h1>
    <h5 class="py-5">いつもProtein-deliveryをご利用頂きありがとうございます。</h5>
    <h5 class="pb-5">本サービス内において、ご意見、ご感想、バグ報告などございましたら、<br>下記TwitterアカウントのDMにてご連絡頂けると助かります。</h5>
    <%= link_to 'https://twitter.com/ouseijin', target: :_blank, rel: 'noopener noreferrer', class:'flowbtn fl_tw my-5 col-3' do %>
      <i class="fab fa-twitter"></i>
      <span>@ouseijin</span>
    <% end %>
  </div>
</div>