<div class="row justify-content-center">
  <div class="my-5 pb-2">
    <%= link_to menu_rank_path, data: login_confirm, class: 'rank-button text-dark' do %>
    <i class="fas fa-crown"></i>
    <span>メニューランキングを見る</span>
    <% end %>
  </div>
</div>