<meta name="viewport" content="width=960">
<div class="container">
  <%# タイトル %>
  <div class="menu-title">
    <%= render 'shared/title', text: 'メニュー一覧', html: ''.html_safe %>
  </div>
</div>
<div class="my-4">
  <%= render 'search', q: @q, url: '/all_menus' %>
</div>

<%= render 'menu_format' %>