<meta name="viewport" content="width=960">
<div class="container">
  <%# タイトル %>
  <div class="menu-title">
    <%= render 'shared/title', text: 'いいねしたメニュー', html: ''.html_safe %>
  </div>
</div>

<div class="mt-4">
 <%= render 'menu_format' %>
</div>