<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li class="nav-item">
      <%= link_to service_rank_path, class: 'nav-link' do %>
        <i class="fas fa-truck"></i>
        <span>サービスランキング</span>
      <% end %>
    </li>
    <li class="nav-item">
      <%= link_to menu_rank_path, class: 'nav-link font-weight-bold active' do %>
        <i class="fas fa-utensils"></i>
        <span>メニューランキング</span>
      <% end %>
    </li>
  </ul>
  <div class="text-center">
    <% @menu_like_ranks.each.with_index(1) do |rank, i| %>
      <%= "第#{i}位"%>
      <%= render 'menu', { menu: rank } %>
    <% end %>
  <div>
</div>