<div class="bg-dark">
  <div class="text-center pt-4">
    <p class="text-white">© 2022. Protein-delivery</p>
  </div>
  <div class="d-flex justify-content-center">
    <nav class="navbar navbar-expand navbar-dark">
      <ul class="navbar-nav ml-auto main-nav align-items-center">
        <li class="nav-item pl-3">
          <%= link_to '利用規約', user_policy_path, class: 'nav-link' %>
        </li>
        <li class="nav-item pl-5 pr-3">
          <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'nav-link' %>
        </li>
        <li class="nav-item pl-3">
          <%= link_to 'お問い合わせ', "", class: 'nav-link text-white' %>
        </li>
      </ul>
    </nav>
  </div>
</div>