/* ボタン全体 */
.flowbtn{
  font-family:'Verdana',sans-serif;	
  border-radius:4px;
  position:relative;
  display:inline-block;
  width:100%;
  font-size:30px;
  color:#fff!important;
  text-decoration:none;
  margin-bottom:25px;
  @media screen and (max-width: 767px) {
    font-size: 1.4rem;
  }
}
/* アイコンボタンホバー時 */
.flowbtn:hover span{
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
  text-decoration:none;
}
/* ボタン内テキスト調整 */
.flowbtn span{
  font-size:25px;	
  position:relative;
  left:4px;
  bottom:2px;
  transition:.6s;	
  display:inline-block;
  @media screen and (max-width: 767px) {
    font-size: 1.1rem;
  }
}
/* Twitter */
.fl_tw{
  background:#00acee;
}
/* Google */
.fl_goo{
  background:#ef3f56;
}
/* ユーザー作成 */
.fl_user{
  background:#555;
}

/* 区切りの線 */
.hr1 {
  border-top: 1px dashed #000; /* 破線 */
}

/* 公式HP案内に使ったボタン */
.hp-button {
  display: block;
  padding: 0.6em;
  background: linear-gradient(to right, #e66465 50%, rgb(0, 0, 0) 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  font: 1.25em 'Montserrat';
  color: white;
  border: none;
  border-left: 0.80em solid #e66465;
  border-color: none;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
  transition: all .5s ease-out;
  &:hover {
    background-position: left bottom;
    color: black;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.95rem;
  }
}

/* 検索のリセットに使ったボタン */
.search-reset-button {
  text-align: center;
  display: block;
  padding: 0.2em;
  background: linear-gradient(to right, #FF9966 50%, rgb(0, 0, 0) 50%);
  background-size: 200% 100.5%;
  background-position: right bottom;
  font: 1.2em 'Montserrat';
  color: white;
  border: none;
  border-left: 0.80em solid #FF9966;
  border-color: none;
  box-shadow: 3px 3px 2px rgba(0,0,0,0.08);
  transition: all .5s ease-out;
  &:hover {
    background-position: left bottom;
    color: black;
  }
}

/* ランキングページへの案内に使ったボタン */
.rank-button {
  padding: 20px 40px;
  background: none;
  border: none;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  text-decoration: none !important;
  @media screen and (min-width: 768px) {
    font-size: 1.75rem;
  }

  &:after, &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 2px solid #000;
    transition: transform 0.2s;
  }

  &:after {
    transform: translate(3px, 3px);
  }

  &:before {
    transform: translate(-3px, -3px);
  }

  &:hover {
    &:after, &:before {
      transform: translate(0);
    }
  }
}