.like-btn {
  width: 25px;
  height: 30px;
  font-size: 35px;
  color: #808080; 
  margin-left: 20px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 35px;
  color: #e54747;
  margin-left: 20px;
}

.like-link {
  text-decoration: none !important;
  color: #808080;
  &:hover {
    color: #808080;
  }
}

.unlike-link {
  text-decoration: none !important;
  color: #e54747;
  &:hover {
    color: #e54747;
  }
}