.like-btn {
  width: 25px;
  height: 30px;
  font-size: 35px;
  color: #808080; 
  margin-left: 20px;
}

.unlike-btn {
  width: 25px;
  height: 30px;
  font-size: 35px;
  color: #e54747;
  margin-left: 20px;
  }