/* ボタン全体 */
.flowbtn{
  font-family:'Verdana',sans-serif;	
  border-radius:4px;
  position:relative;
  display:inline-block;
  width:100%;
  font-size:30px;
  color:#fff!important;
  text-decoration:none;
  margin-bottom:25px;
}
/* アイコンボタンホバー時 */
.flowbtn:hover span{
  -webkit-transform: rotateX(360deg);
  -ms-transform: rotateX(360deg);
  transform: rotateX(360deg);
  text-decoration:none;
}
/* ボタン内テキスト調整 */
.flowbtn span{
  font-size:25px;	
  position:relative;
  left:8px;
  bottom:2px;
  transition:.6s;	
  display:inline-block;	
}
/* Twitter */
.fl_tw{
  background:#00acee;
}
/* Google */
.fl_goo{
  background:#ef3f56;
}
/* ユーザー作成 */
.fl_user{
  background:#555;
}