// 口コミの背景
.arrow_box{
  position:relative;
  background:#EEEECE;
  padding:20px 0px;
  margin-top:35px;
  text-align:center;
  color:#333333;
  font-size:14px;
  font-weight:bold;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
}
// 口コミの吹き出し
.arrow_box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(190, 190, 190, 0);
  border-top-width:22px;
  border-bottom-width:22px;
  border-left-width:13px;
  border-right-width:13px;
  margin-left: -23px;
  border-bottom-color:#EEEECE;
  bottom:100%;
  left:6%;
  @media (max-width: 767px){
		left: 15%;
	}
}
//星の平均点表示
.rate-average {
  font-size: 1.6rem;
  img {
    padding-bottom: 5px;
  }
}