.arrow_box{
  position:relative;
  width:800px;
  background:#EEEECE;
  padding:20px;
  margin-top:35px; 
  text-align:center;
  color:#333333;
  font-size:14px;
  font-weight:bold;
  border-radius:15px;
  -webkit-border-radius:15px;
  -moz-border-radius:15px;
  @media (max-width: 767px){
		width: 250px;
	}
}
// 口コミの吹き出し
.arrow_box:after{
  border: solid transparent;
  content:'';
  height:0;
  width:0;
  pointer-events:none;
  position:absolute;
  border-color: rgba(190, 190, 190, 0);
  border-top-width:22px;
  border-bottom-width:22px;
  border-left-width:13px;
  border-right-width:13px;
  margin-left: -23px;
  border-bottom-color:#EEEECE;
  bottom:100%;
  left:6%;
}
