.top-wrapper {
  background-image: url("top.jpg");
  background-blend-mode:lighten;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: calc(100vh - 70px);
  position: relative;

  .top-inner-text {
    position: absolute;
    top: 30%;
    left: 28%;
    transform: translate(-50%, -50%);
    width: 50%;
    text-align: center;
    font-size: 6rem;
    color: white;
    @media screen and (max-width: 767px) {
      font-size: 3.0rem;
      width: 100%;
      left: 50%;
      .top-inner-subtext {
        font-size: 1.2rem;
      }
    }
  }

  .top-button {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align: center;
    color: white;
    @media screen and (max-width: 767px) {
      .navi-text {
        font-size: 1.0rem;
      }
    }
  }
}

//文字を見やすくするため、トップページの背景を暗くする
.top-wrapper::before {
  background-color: rgba(0,0,0,0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

//トップページの説明横の画像
.top-second-img {
  @media screen and (min-width: 1400px) {
    height: 855px;
  }
  //モバイルの横幅
  @media screen and (max-width: 575px) {
    height: 700px;
  }
}

//トップページの説明
.wrap-about{
	position: relative;
  p{
    line-height: 2;
    color: #666666;
  }
	h3{
		font-size: 18px;
		font-weight: 700;
	}
	.thumb{
		.thumb-menu{
			width: 100%;
			.img{
				height: 150px;
				margin: 0 auto;
				margin-bottom: 10px;
				-webkit-box-shadow: 0px 24px 48px -12px rgba(0,0,0,0.1);
				-moz-box-shadow: 0px 24px 48px -12px rgba(0,0,0,0.1);
				box-shadow: 0px 24px 48px -12px rgba(0,0,0,0.1);
        @media screen and (max-width: 1189px) {
          width: 133px;
          height: 100px;
        }
        @media screen and (max-width: 767px) {
          width: 100px;
          height: 75px;
        }
			}
			h4{
				font-size: 14px;
				color: rgba(0,0,0,.3);
			}
			&:hover,&:focus{
				.img{
					-webkit-box-shadow: 0px 24px 48px -12px rgba(0,0,0,0.19);
					-moz-box-shadow: 0px 24px 48px -12px rgba(0,0,0,0.19);
					box-shadow: 0px 24px 48px -12px rgba(0,0,0,0.19);
				}
				h4{
					color: black;
				}
			}
		}
	}
}
//トップページの説明箇所の見出し
.heading-section{
	.subheading{
		font-weight: normal;
		font-size: 40px;
		display: block;
		color: #FF3366;
		line-height: 1;
		font-family: cursive;
		z-index: -1;
	}
	h2{
		font-weight: 900;
    @media screen and (max-width: 767px) {
      .br {
        display: block;
      }
    }
	}
}
