<div class="container">
  <%# タイトル %>
  <div class="review-title">
    <%= render 'shared/title', text: '口コミ投稿', html: ''.html_safe %>
  </div>
</div>
<div class="text-center bg-light pt-4">
  <%= render 'form', { service: @service, review: @review } %>
  <%= render 'reviews', { reviews: @reviews } %>
</div>